* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#movies-card-container {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header {
    display: flex;
    justify-content: space-between;

    background-color: gray;
    padding: 24px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.sorting-options {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.soring-button {
    width: 220px;
    height: 30px;
}

.tab {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

}

.all-tab, .favorites-tab {
    cursor: pointer;
}

.card {
    width: 250px;
    /* height: 400px; */
    border: 1px solid black;

    padding: 12px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.votes-favorites {
    display: flex;
    justify-content: space-between
}

.favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.poster {
    width: 200px;
    height: 300px;

    object-fit: cover;
}

.footer {
    background-color: gray;
    margin-top: 10px;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}