button {
    cursor: pointer;
}

div.first-div {
    margin-top: 40px;
    height: 250px;
    width: 250px;
    background-color: orange;
}

div.second-div {
    position: relative;
    left: 180px;
    height: 150px;
    width: 150px;
    background-color: lightgreen;
}